# install git
sudo yum install git -y

#install docker
sudo amazon-linux-extras install docker -y

# enable docker

sudo systemctl enable docker.service

# run docker

sudo systemctl start docker.service

# add ec2-user to docker group (to allow the user to run docker containers)
sudo usermod -aG docker ec2-user

# install docker-compose
sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose

#make docker-compose executable

sudo chmod +x /usr/local/bin/docker-compose

# generate a deploy key
ssh-keygen -t ed25519 -b 4096
